<nb-card>
  <nb-card-header>Selección del estatus para el usuario {{ usuario.name }}</nb-card-header>
  <nb-card-body>
    <form *ngIf="estatusForm" [formGroup]="estatusForm">
      <div *ngIf="estatusUser">

        <div class="form-group row">
          <label for="estatus" class="label col-sm-2 col-form-label">Estatus</label>
          <div class="col-sm-8">
            <ng-select 
            [items]="estatusUser" 
            bindLabel="descripcion" 
            [multiple]="false" 
            [closeOnSelect]="true"
            groupBy="module" 
            [searchable]="true" 
            placeholder="Seleccione un valor" 
            name="estatus"
            formControlName="estatus">
            </ng-select>
            <ng-container *ngIf="f.estatus.errors && (f.estatus.dirty || f.estatus.touched)">
              <p class="caption status-danger" *ngIf="f.estatus.errors?.required">El estatus es requerido!</p>
              <p class="caption status-danger" *ngIf="f.estatus.errors.dependsontwovalues">La selección de un rango de fechas para este
                estatus es requerido</p>
            </ng-container>
          </div>
        </div>
        <hr *ngIf="f.estatus.value?.usa_fechas == '1'">
  
        <div *ngIf="f.estatus.value?.usa_fechas == '1'" class="form-group row">
          <label for="estatus" class="label col-2 col-form-label">Rango de fechas a aplicar</label>
          <div class="col-4">
            
            <!-- <ngbd-datepicker-range></ngbd-datepicker-range> -->
            <nb-calendar-range [(range)]="range"></nb-calendar-range>

            <ng-container *ngIf="f.fe_status_desde.errors || f.fe_status_hasta.errors">
              <p class="caption status-danger" *ngIf="f.fe_status_desde.errors.required || f.fe_status_hasta.errors.required">La selección de
                un rango de fechas es requerido</p>
            </ng-container>
          </div>
          <div class="offset-2 col-8">
            <nb-alert status="success" closable >
              Se ha seleccionado el rango de fechas desde el<b>{{ f.fe_status_desde.value  | date}}</b> hasta el<b>{{ f.fe_status_hasta.value | date }}</b>
            </nb-alert>
          </div>

        </div>

        <!-- <div class="container"> -->
          <!-- <div class="row">
            <div class="col-sm-12 form-group">
              <label for="estatus" class="col-sm-12 control-label">Estatus</label>
              <div class="col-sm-12">
                <ng-select [items]="estatusUser" bindLabel="descripcion" [multiple]="false" [closeOnSelect]="true"
                  groupBy="module" [searchable]="true" placeholder="Seleccione un valor" name="estatus"
                  formControlName="estatus">
                </ng-select>

                <div class="input-group justify-content-center invalid-feedback"
                  *ngIf="f.estatus.errors && (f.estatus.dirty || f.estatus.touched)">
                  <div *ngIf="f.estatus.errors.required">El estatus es requerido</div>
                  <div *ngIf="f.estatus.errors.dependsontwovalues">La selección de un rango de fechas para este
                    estatus es requerido</div>
                </div>

              </div>
            </div>
          </div> -->

          <!-- <hr *ngIf="f.estatus.value?.usa_fechas == '1'"> -->
<!-- 
          <div class="row" *ngIf="f.estatus.value?.usa_fechas == '1'">
            <div class="col-sm-12 form-group">
              <label for="estatus" class="col-sm-12 control-label">Rango de fechas a aplicar</label>
              <div class="col-sm-12 form-group">
                <ngbd-datepicker-range></ngbd-datepicker-range>

                <div class="input-group justify-content-center invalid-feedback"
                  *ngIf="f.fe_status_desde.errors || f.fe_status_hasta.errors">
                  <div *ngIf="f.fe_status_desde.errors.required || f.fe_status_hasta.errors.required">La selección de
                    un rango de fechas es requerido</div>
                </div>

              </div>
              <div class="alert alert-primary" *ngIf="f.fe_status_desde?.value && f.fe_status_hasta?.value">
                Se ha seleccionado el rango de fechas desde el
                <b>{{ f.fe_status_desde.value }}</b> hasta el
                <b>{{ f.fe_status_hasta.value }}</b>
              </div>
            </div>
          </div> -->

        <!-- </div> -->

      </div>

      <nb-card-footer>
        <div class="row">
          <div class="col-6">
            <button 
            (click)="cerrarVentanaModal()"
            nbButton 
            size="tyni"
            status="danger">
            <nb-icon icon="arrow-back-outline"></nb-icon>Cancelar
            </button>
          </div>
          <div class="col-6">
            <button *ngIf="tipoEstatus == 0 else activarBlock"
            type="button" 
            (click)="executeDeactivation()" 
            [disabled]="estatusForm.invalid"
            nbButton
            size="tiny"
            status="success"
            class="float-right">
            <nb-icon icon="save-outline"></nb-icon>Desactivar
            </button>

            <ng-template #activarBlock>
              <button 
              type="button" 
              (click)="executeActivation()"
              [disabled]="estatusForm.invalid"
              nbButton
              size="tiny"
              status="success"
              class="float-right">
              <nb-icon icon="sync-outline"></nb-icon>Activar
              </button>
            </ng-template>
          </div>
        </div>
      </nb-card-footer>
    </form>
  </nb-card-body>
</nb-card>
