<ng-container *ngIf="paginador?.content != undefined">

  <ng-container *ngIf="paginador?.totalPages > 1">
    <div class="pagination justify-content-end mb-2">
      Mostrando desde &nbsp;<strong>{{ ((paginador.number+1)*paginador.size)-paginador.size+1 }}</strong>&nbsp; hasta
      &nbsp;<strong>{{ ((paginador.number+1)*paginador.size)-paginador.size+paginador.numberOfElements }}</strong>&nbsp;
      de
      un total de &nbsp;<strong>{{ paginador.totalElements }}</strong>&nbsp; registros
    </div>
  </ng-container>
<!-- 
  <ng-container *ngIf="paginas?.length > 0 && paginador?.totalPages > 1">
    <ul class="pagination justify-content-end no-margin-bottom">
      <li class="page-item" [ngClass]="paginador.number > 0 ? '' : 'disabled'">
        <a class="page-link"
          [routerLink]="links.concat('/').concat(0).concat(parametros == undefined ? '' : parametros)"><nb-icon
          icon="arrowhead-left-outline"></nb-icon></a>
      </li>

      <li class="page-item" [ngClass]="paginador.number > 0 ? '' : 'disabled'">
        <a class="page-link"
          [routerLink]="links.concat('/').concat(paginador.number-1).concat(parametros == undefined ? '' : parametros)"><nb-icon
          icon="arrow-ios-back-outline"></nb-icon></a>
      </li>

      <li class="page-item" *ngFor="let pagina of paginas"
        [ngClass]="pagina-1 == paginador.number ? 'active disabled' : ''">
        <span class="page-link" *ngIf="pagina-1 == paginador.number">{{ pagina }}</span>
        <a class="page-link" *ngIf="pagina-1 != paginador.number"
          [routerLink]="links.concat('/').concat(pagina-1).concat(parametros == undefined ? '' : parametros)">{{ pagina }}</a>
      </li>

      <li class="page-item" [ngClass]="paginador.number == paginador.totalPages-1 ? 'disabled' : ''">
        <a class="page-link"
          [routerLink]="links.concat('/').concat(paginador.number+1).concat(parametros == undefined ? '' : parametros)"><nb-icon
          icon="arrow-ios-forward-outline"></nb-icon></a>
      </li>

      <li class="page-item" [ngClass]="paginador.number == paginador.totalPages-1 ? 'disabled' : ''">
        <a class="page-link"
          [routerLink]="links.concat('/').concat(paginador.totalPages-1).concat(parametros == undefined ? '' : parametros)"><nb-icon
          icon="arrowhead-right-outline"></nb-icon></a>
      </li>
    </ul>
  </ng-container>
-->
</ng-container>

<ng-container *ngIf="paginador?.content == undefined">

  <ng-container *ngIf="paginador?.last_page > 1">
    <div class="pagination justify-content-end mb-2">
      Mostrando desde &nbsp;<strong>{{ paginador.from }}</strong>&nbsp; hasta
      &nbsp;<strong>{{ paginador.to }}</strong>&nbsp;
      de
      un total de &nbsp;<strong>{{ paginador.total }}</strong>&nbsp; registros
    </div>
  </ng-container>

  <ng-container *ngIf="paginas?.length > 0 && paginador?.last_page > 1">
    <ul class="pagination justify-content-end no-margin-bottom">
      <li class="page-item" [ngClass]="paginador.current_page > 1 ? '' : 'disabled'">
        <a class="page-link"
          routerLink="'{{links}}'/{{1}}.concat('/').concat(parametros == undefined ? '' : parametros)"><nb-icon
            icon="arrowhead-left-outline"></nb-icon></a>
      </li>

      <li class="page-item" [ngClass]="paginador.current_page > 1 ? '' : 'disabled'">
        <a class="page-link"
          routerLink="'{{links}}/{{paginador.current_page-1}}'.concat('/').concat(parametros == undefined ? '' : parametros)"><nb-icon
          icon="arrow-ios-back-outline"></nb-icon></a>
      </li>

      <li class="page-item" *ngFor="let pagina of paginas"
        [ngClass]="pagina == paginador.current_page ? 'active disabled' : ''">
        <span class="page-link" *ngIf="pagina == paginador.current_page">{{ pagina }}</span>
        <a class="page-link" *ngIf="pagina != paginador.current_page"
          [routerLink]="links.concat('/').concat(pagina).concat(parametros == undefined ? '' : parametros)">{{ pagina }}</a>
      </li>

      <li class="page-item" [ngClass]="paginador.current_page == paginador.last_page ? 'disabled' : ''">
        <a class="page-link"
          [routerLink]="links.concat('/').concat(paginador.current_page+1).concat(parametros == undefined ? '' : parametros)"><nb-icon
          icon="arrow-ios-forward-outline"></nb-icon></a>
      </li>

      <li class="page-item" [ngClass]="paginador.current_page == paginador.last_page ? 'disabled' : ''">
        <a class="page-link"
          [routerLink]="links.concat('/').concat(paginador.last_page).concat(parametros == undefined ? '' : parametros)"><nb-icon
          icon="arrowhead-right-outline"></nb-icon></a>
      </li>
    </ul>
  </ng-container>

</ng-container>