<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<div class="row">
  <div class="col-md-12">
    <nb-card accent="info" size="info" [nbSpinner]="loading" nbSpinnerStatus="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">
            Listado de usuarios
          </div>
          <div class="col-6">
            <ng-container *ngIf="authService.hasPermissions(['25-02-XX-02'])">
              <a routerLink="Crear" class="float-right" nbButton status="info" size="tiny"><nb-icon icon="plus-outline"></nb-icon> Añadir nuevo rol</a>
            </ng-container>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive" *ngIf="roles?.length > 0">
          <table class="table table-striped table-valign-middle table-hover table-sm nb-tree-grid">
            <thead>
              <tr>
                <th (click)="tablaService.sortTable('name');filtrarTabla()">Nombre <nb-icon [icon]="tablaService.getIcon('name')"></nb-icon></th>
                <th (click)="tablaService.sortTable('status');filtrarTabla()">Estatus <nb-icon [icon]="tablaService.getIcon('status')"></nb-icon></th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rol of roles; trackBy: tablaService.trackBy">
                <td>{{ rol.name }}</td>
                <td>
                  <small class="badge" [class.badge-secondary]="rol.status == 0"
                    [class.badge-success]="rol.status == 1">
                    {{ rol.status | estatusrol }}
                  </small>
                </td>
                <td nowrap>
                  <ng-container *ngIf="authService.hasPermissions(['25-02-XX-03'])">
                    <button nbButton 
                    ghost 
                    status="info" 
                    [routerLink]="['Editar', rol.id]" 
                    nbTooltip="Editar rol" 
                    nbTooltipStatus="info">
                    <nb-icon icon="edit-2-outline"></nb-icon></button>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-02-XX-04'])">
                    <a (click)="deleteRol(rol)" 
                    nbButton 
                    ghost 
                    status="danger" 
                    nbTooltip="Eliminar rol" 
                    nbTooltipStatus="danger">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-02-XX-05'])">
                    <a *ngIf="rol.status == 0" 
                      (click)="activateRol(rol)" 
                      nbButton 
                      ghost 
                      status="success"
                      nbTooltip="Activar rol" 
                      nbTooltipStatus="success" >
                      <nb-icon icon="checkmark-outline"></nb-icon>
                      </a>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-02-XX-06'])">
                    <a *ngIf="rol.status == 1" 
                    (click)="desactivateRol(rol)" 
                    nbButton 
                    ghost 
                    status="warning"
                    nbTooltip="Desactivar rol" 
                    nbTooltipStatus="warning">
                    <nb-icon icon="pause-circle-outline"></nb-icon>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-02-XX-07'])">
                    <a *ngIf="rol.permissions" 
                      (click)="showPermissions(rol)"
                      nbTooltip="Ver permisos asociados" 
                      nbTooltipStatus="success" 
                      nbButton 
                      ghost 
                      status="success">
                      <nb-icon icon="shield-outline"></nb-icon>
                    </a>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <blockquote class="quote-primary" *ngIf="roles?.length == 0">
          <p>No se encuentran roles registrados</p>
        </blockquote>
      </nb-card-body>
      <nb-card-footer>
        <paginator-nav *ngIf="pag" [paginador]="pag" [links]="links" [parametros]="parametros"></paginator-nav>
      </nb-card-footer>
    </nb-card>
  </div>
</div>