:host {
  overflow-x: hidden;
  overflow-y: auto;
}

nb-card-body {
  overflow: visible;

  form> * {
    margin-top: 1rem;
  }
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.profile-img{
  text-align: center;
}
.profile-img img{
  width: 47%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  /* margin-top: -20%;*/
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

// .profile-head h5{
//   color: #333;
// }
// .profile-head h6{
//   color: #0062cc;
// }
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
