
<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <div class="profile-img">
          <img *ngIf="urlImagenUsuario" [src]="urlImagenUsuario" class="rounded mx-auto d-block" alt="...">
          <!-- <div class="file btn btn-lg btn-primary">
            Cambiar avatar
            <input type="file" name="file" formControlName="avatar"/>
          </div> -->
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-8">
    <nb-card>
      <nb-card-header>Actualizar mis datos</nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Mis datos">
            <h3 class="text-center">{{ usuario.email }}</h3>
            <p class="text-muted text-center">{{ usuario.name }}</p>
          </nb-tab>
          <nb-tab tabTitle="Imagen de usuario">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04"
                  aria-describedby="inputGroupFileAddon04" (change)="seleccionarImagen($event)">
                <label class="custom-file-label" for="inputGroupFile04"
                  *ngIf="!imagenSeleccionada else elseBlock">Seleccionar archivo</label>
                <ng-template #elseBlock>
                  <label class="custom-file-label" for="inputGroupFile04">{{ imagenSeleccionada.name }}</label>
                </ng-template>
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"
                  (click)="cargarImagen()" [disabled]="!imagenSeleccionada">Cargar</button>
              </div>
            </div>

            <div class="progress mt-3" *ngIf="progreso > 0">
              <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{width: progreso+'%'}" attr.aria-valuenow="{{progreso}}">
                <span>{{progreso}}%</span>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Contraseña">
            <form class="form-horizontal" *ngIf="passUserForm" [formGroup]="passUserForm" autocomplete="off">
              <div class="form-group">
                <label for="old_password" class="col-sm-12 control-label">Contraseña anterior</label>

                <div class="col-sm-12">
                  <input formControlName="old_password" type="password" class="form-control" name="old_password"
                    placeholder="Contraseña anterior">
                </div>

                <div class="input-group justify-content-center invalid-feedback"
                  *ngIf="f.old_password.errors && (f.old_password.dirty || f.old_password.touched)">
                  <div *ngIf="f.old_password.errors.required">La contraseña es requerida</div>
                </div>

              </div>
              <div class="form-group">
                <label for="new_password" class="col-sm-12 control-label">Nueva contraseña</label>

                <div class="col-sm-12">
                  <input formControlName="password" type="password" class="form-control" name="password"
                    placeholder="Nueva contraseña">
                </div>

                <div class="input-group justify-content-center invalid-feedback"
                  *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                  <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                  <div *ngIf="f.password.errors.minlength && mensajesRequeridos?.length > 0">
                    {{ mensajesRequeridos[0] }}</div>
                  <div *ngIf="f.password.errors.maxlength && mensajesRequeridos?.length > 0">
                    {{ mensajesRequeridos[1] }}</div>
                  <div *ngIf="f.password.errors.pattern">
                    {{ f.password.errors.pattern.requiredPattern | mensajepatroncontrasena: formValidatorService.contrasenaValidators }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password_confirmation" class="col-sm-12 control-label">Repetir nueva
                  contraseña</label>

                <div class="col-sm-12">
                  <input formControlName="password_confirmation" type="password" class="form-control"
                    name="password_confirmation" placeholder="Repetir nueva contraseña">
                </div>

                <div class="input-group justify-content-center invalid-feedback"
                  *ngIf="f.password_confirmation.errors && (f.password_confirmation.dirty || f.password_confirmation.touched)">
                  <div *ngIf="f.password_confirmation.errors.required">La contraseña es requerida</div>
                  <div *ngIf="f.password_confirmation.errors.mustmatch">Las contraseñas nuevas no coinciden
                  </div>
                </div>

              </div>
              <div class="form-group float-right">
                <div class="col-sm-12">
                  <button nbButton type="submit" status="basic" class="btn btn-default" (click)="updatePassword()" [disabled]="passUserForm.invalid" ><nb-icon icon="sync-outline"></nb-icon>Actualizar</button>
                  <!-- <button type="submit" class="btn btn-default" (click)="updatePassword()"
                    [disabled]="passUserForm.invalid"><i class="fa fa-sync mr-2"></i>Actualizar</button> -->
                </div>
              </div>
            </form>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
