<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<div class="row">
  <div class="col-md-12">
    <nb-card accent="info" size="info" [nbSpinner]="loading" nbSpinnerStatus="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">
            Listado de usuarios
          </div>
          <div class="col-6">
            <ng-container *ngIf="authService.hasPermissions(['25-04-XX-02'])">
              <a routerLink="Crear" class="float-right" nbButton status="info" size="tiny"><nb-icon icon="plus-outline"></nb-icon> Añadir nuevo estatus</a>
            </ng-container>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive" *ngIf="estatusUser?.length > 0">
          <table class="table table-striped table-valign-middle table-hover table-sm nb-tree-grid">
            <thead>
              <tr>
                <th (click)="tablaService.sortTable('cod_status');filtrarTabla()">Código <nb-icon [icon]="tablaService.getIcon('cod_status')"></nb-icon></th>
                <th (click)="tablaService.sortTable('valor_status');filtrarTabla()">Valor del estatus <nb-icon [icon]="tablaService.getIcon('valor_status')"></nb-icon></th>
                <th (click)="tablaService.sortTable('descripcion');filtrarTabla()">Descripción <nb-icon [icon]="tablaService.getIcon('descripcion')"></nb-icon></th>
                <th (click)="tablaService.sortTable('usa_fechas');filtrarTabla()">¿Basado en rango de fechas? <nb-icon [icon]="tablaService.getIcon('usa_fechas')"></nb-icon></th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estatus of estatusUser; trackBy: tablaService.trackBy">
                <td>{{ estatus.cod_status }}</td>
                <td>
                  <small class="badge" [class.badge-secondary]="estatus.valor_status == 0"
                    [class.badge-success]="estatus.valor_status == 1">
                    {{ estatus.valor_status | estatususer }}
                  </small>
                </td>
                <td>{{ estatus.descripcion }}</td>
                <td>
                  <small class="badge" [class.badge-secondary]="estatus.usa_fechas == 0"
                    [class.badge-success]="estatus.usa_fechas == 1">
                    {{ estatus.usa_fechas | estatususofechas }}
                  </small>
                </td>
                <td nowrap>
                  <ng-container *ngIf="estatus.cod_status != 0 && estatus.cod_status != 1">
                    <ng-container *ngIf="authService.hasPermissions(['25-04-XX-03'])">
                      <button nbButton 
                      ghost 
                      status="info" 
                      [routerLink]="['Editar', estatus.id]" 
                      nbTooltip="Editar estatus" 
                      nbTooltipStatus="info">
                      <nb-icon icon="edit-2-outline"></nb-icon></button>
                    </ng-container>
                    <ng-container *ngIf="authService.hasPermissions(['25-04-XX-04'])">
                      <a (click)="deleteEstatusUsuario(estatus)" 
                      nbButton 
                      ghost 
                      status="danger" 
                      nbTooltip="Eliminar estatus" 
                      nbTooltipStatus="danger">
                      <nb-icon icon="trash-2-outline"></nb-icon>
                      </a>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <blockquote class="quote-primary" *ngIf="estatusUser?.length == 0">
          <p>No se encuentran estatus registrados</p>
        </blockquote>
      </nb-card-body>
      <nb-card-footer>
        <paginator-nav *ngIf="pag" [paginador]="pag" [links]="links" [parametros]="parametros"></paginator-nav>
      </nb-card-footer>
    </nb-card>
  </div>
</div>