<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<nb-card>
  <nb-card-header>
    Detalle para la configuración de contraseña
  </nb-card-header>
  <nb-card-body>

    <nb-alert *ngIf="errores" status="danger">
      <ul class="alert list-unstyled" *ngIf="errores">
        <li class="text-white" *ngFor="let err of errores.name">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.status">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.description">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.value">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.message">{{ err }}</li>
      </ul>
    </nb-alert>

    <form class="form-horizontal" *ngIf="configForm" [formGroup]="configForm">

      <div class="form-group row">
        <label for="name" class="label col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Nombre de configuración" 
          formControlName="name" 
          name="name" 
          [status]="f.name.dirty ? (f.name.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">
            <p class="caption status-danger" *ngIf="f.name.errors?.required">El nombre es requerido!</p>
          </ng-container>
        </div>
      </div>

      <div *ngIf="contrasena.regex != 0" class="form-group row">
        <label for="cod_requirement" class="label col-sm-3 col-form-label">Código</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Código de la configuración" 
          formControlName="cod_requirement" 
          name="cod_requirement" 
          [status]="f.cod_requirement.dirty ? (f.cod_requirement.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.cod_requirement.errors && (f.cod_requirement.dirty || f.cod_requirement.touched)">
            <p class="caption status-danger" *ngIf="f.cod_requirement.errors?.required">El código es requerido!</p>
            <p class="caption status-danger" *ngIf="f.cod_requirement.errors.minlength || f.cod_requirement.errors.maxlength || f.cod_requirement.errors.pattern">El código debe contener 4 caracteres númericos</p>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="value" class="label col-sm-3 col-form-label">Valor</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Valor de la configuración" 
          formControlName="value" 
          name="value" 
          [status]="f.value.dirty ? (f.value.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.value.errors && (f.value.dirty || f.value.touched)">
            <p class="caption status-danger" *ngIf="f.value.errors?.required">El valor es requerido!</p>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="label col-sm-3 col-form-label">Descripción</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Descripción de la configuración" 
          formControlName="description" 
          name="description" 
          [status]="f.description.dirty ? (f.description.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.description.errors && (f.description.dirty || f.description.touched)">
            <p class="caption status-danger" *ngIf="f.description.errors?.required">La descripción es requerida!</p>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="message" class="label col-sm-3 col-form-label">Mensaje</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Mensaje de la configuración" 
          formControlName="message" 
          name="message" 
          [status]="f.message.dirty ? (f.message.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.message.errors && (f.message.dirty || f.message.touched)">
            <p class="caption status-danger" *ngIf="f.message.errors?.required">El Mensaje es requerido!</p>
          </ng-container>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer> 
    <div class="row">
      <div class="col-6">
        <button 
        [routerLink]="urlBack" 
        nbButton 
        size="small"
        status="danger">
        <nb-icon icon="arrow-back-outline"></nb-icon>Regresar
        </button>
      </div>
      <div class="col-6">
        <button 
        type="submit" 
        (click)="create()" 
        *ngIf="!edit else editBlock"
        [disabled]="configForm.invalid"
        nbButton
        size="small"
        status="success"
        class="float-right">
        <nb-icon icon="save-outline"></nb-icon>Guardar
        </button>

        <ng-template #editBlock>
          <button 
          type="submit" 
          (click)="update()"
          [disabled]="configForm.invalid"
          nbButton
          size="small"
          status="success"
          class="float-right">
          <nb-icon icon="sync-outline"></nb-icon>Actualizar
          </button>
        </ng-template>
      </div>
    </div>
  </nb-card-footer>
</nb-card>