<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<div class="card-row">
  <div class="card-col">
	<nb-card accent="info">
	  <nb-card-header>Inicio</nb-card-header>
	  <nb-card-body>
	    Inicio del EPS-INM 
	    <br>
	    <br>

	   <div align="center">
	   	<img  src="assets/images/credito-inmediato.jpg"  border="200" alt="Inicio credito inmediato" width="600" height="300">
		</div>
	  </nb-card-body>
	</nb-card> 
	</div>
</div>
	   



	
	

