<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<nb-card>
  <nb-card-header>
    Detalle para estatus de usuario
  </nb-card-header>
  <nb-card-body>

    <nb-alert *ngIf="errores" status="danger">
      <ul class="alert list-unstyled" *ngIf="errores">
        <li class="text-white" *ngFor="let err of errores.cod_status">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.descripcion">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.usa_fechas">{{ err }}</li>
      </ul>
    </nb-alert>

    <form class="form-horizontal" *ngIf="userEstatusForm" [formGroup]="userEstatusForm">

      <div class="form-group row">
        <label for="cod_status" class="label col-sm-3 col-form-label">Código</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Código" 
          formControlName="cod_status" 
          name="cod_status" 
          [status]="f.cod_status.dirty ? (f.cod_status.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.cod_status.errors && (f.cod_status.dirty || f.cod_status.touched)">
            <p class="caption status-danger" *ngIf="f.cod_status.errors?.required">El usuario es requerido!</p>
            <p class="caption status-danger" *ngIf="f.cod_status.errors.pattern"> El usuario contiene caracteres inválidos</p>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="usa_fechas" class="label col-sm-3 col-form-label">¿Basado en rango de fechas?</label>
        <div class="col-sm-2">
          <input type="hidden" formControlName="usa_fechas" name="usa_fechas">
            <button 
            nbButton 
            size="small" 
            (click)="useDates()"
            [status]="f.usa_fechas.value == '1' ? 'success' : 'basic'"
            class="btn btn-switch">
            Si
            </button>

            <button 
            nbButton 
            size="small" 
            (click)="dontUseDates()"
            [status]="f.usa_fechas.value == '0' ? 'danger' : 'basic'"
            class="btn btn-switch">
            No
            </button>
            <ng-container *ngIf="f.usa_fechas.errors && (f.usa_fechas.dirty || f.usa_fechas.touched)">
              <p class="caption status-danger" *ngIf="f.usa_fechas.errors?.required">El usuario es requerido!</p>
              <p class="caption status-danger" *ngIf="f.usa_fechas.errors.minlength || f.usa_fechas.errors.maxlength || f.usa_fechas.errors.pattern">
              El valor del campo es inválido</p>
            </ng-container>
        </div>

        <div class="col-2">
          <label for="name" class="label col-form-label">¿Basado en estatus activo?</label>
        </div>
        <div class="col-2">
          <input type="hidden" formControlName="valor_status" name="valor_status">
            <button 
            nbButton 
            size="small" 
            (click)="activeStatus()"
            [status]="f.valor_status.value == '1' ? 'success' : 'basic'"
            class="btn btn-switch">
            Si
            </button>

            <button 
            nbButton 
            size="small" 
            (click)="notActiveStatus()"
            [status]="f.valor_status.value == '0' ? 'danger' : 'basic'"
            class="btn btn-switch">
            No
            </button>
            <ng-container *ngIf="f.valor_status.errors && (f.valor_status.dirty || f.valor_status.touched)">
              <p class="caption status-danger" *ngIf="f.valor_status.errors?.required">El valor del campo es requerido!</p>
              <p class="caption status-danger" *ngIf="f.valor_status.errors.minlength || f.valor_status.errors.maxlength || f.valor_status.errors.pattern">
              El valor del campo es inválido</p>
            </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="label col-sm-3 col-form-label">Descripción</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Descripción" 
          formControlName="descripcion" 
          name="descripcion" 
          [status]="f.descripcion.dirty ? (f.descripcion.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.descripcion.errors && (f.descripcion.dirty || f.descripcion.touched)">
            <p class="caption status-danger" *ngIf="f.descripcion.errors?.required">El usuario es requerido!</p>
          </ng-container>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer> 
    <div class="row">
      <div class="col-6">
        <button 
        [routerLink]="urlBack" 
        nbButton 
        size="small"
        status="danger">
        <nb-icon icon="arrow-back-outline"></nb-icon>Regresar
        </button>
      </div>
      <div class="col-6">
        <button 
        type="submit" 
        (click)="create()" 
        *ngIf="!edit else editBlock"
        [disabled]="userEstatusForm?.invalid"
        nbButton
        size="small"
        status="success"
        class="float-right">
        <nb-icon icon="save-outline"></nb-icon>Guardar
        </button>

        <ng-template #editBlock>
          <button 
          type="submit" 
          (click)="update()"
          [disabled]="userEstatusForm?.invalid"
          nbButton
          size="small"
          status="success"
          class="float-right">
          <nb-icon icon="sync-outline"></nb-icon>Actualizar
          </button>
        </ng-template>
      </div>
    </div>
  </nb-card-footer>
</nb-card>