<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<nb-card>
  <nb-card-header>
    Detalles para el rol
  </nb-card-header>
  <nb-card-body>

    <nb-alert *ngIf="errores" status="danger">
      <ul class="alert list-unstyled" *ngIf="errores">
        <li class="text-white" *ngFor="let err of errores.name">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.all_permission">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.permissions">{{ err }}</li>
      </ul>
    </nb-alert>

    <form class="form-horizontal" *ngIf="roleForm" [formGroup]="roleForm">

      <div class="form-group row">
        <label for="name" class="label col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Nombre" 
          formControlName="name" 
          name="name" 
          [status]="f.name.dirty ? (f.name.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">
            <p class="caption status-danger" *ngIf="f.name.errors?.required">El usuario es requerido!</p>
            <p class="caption status-danger" *ngIf="f.name.errors.minlength || f.name.errors.maxlength"> El usuario debe contener de 2  a 64 caracteres </p>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="label col-sm-3 col-form-label">Todos los permisos</label>
        <div class="col-sm-2">
          <input type="hidden" formControlName="all_permissions" name="all_permissions">
            <button 
            nbButton 
            size="small" 
            (click)="allPermissions()"
            [status]="f.all_permissions.value == '1' ? 'success' : 'basic'"
            class="btn btn-switch">
            Si
            </button>

            <button 
            nbButton 
            size="small" 
            (click)="notAllPermissions()"
            [status]="f.all_permissions.value == '0' ? 'danger' : 'basic'"
            class="btn btn-switch">
            No
            </button>
            <ng-container *ngIf="f.all_permissions.errors && (f.all_permissions.dirty || f.all_permissions.touched)">
              <p class="caption status-danger" *ngIf="f.all_permissions.errors?.required">El usuario es requerido!</p>
            </ng-container>
            <!-- <div class="btn-group">
              <button type="button" (click)="allPermissions()" class="btn btn-switch"
                [ngClass]="f.all_permissions.value == '1' ? 'btn-success' : 'btn-default'"><i
                  class="fa fa-check"></i>Si</button>
              <button type="button" (click)="notAllPermissions()" class="btn btn-switch"
                [ngClass]="f.all_permissions.value == '0' ? 'btn-danger' : 'btn-default'"><i
                  class="fa fa-times">No</i></button>
            </div> 
            <div class="input-group justify-content-center invalid-feedback" *ngIf="f.all_permissions.errors">
              <div *ngIf="f.all_permissions.errors.required">El valor del campo es requerido</div>
              <div
                *ngIf="f.all_permissions.errors.minlength || f.all_permissions.errors.maxlength || f.all_permissions.errors.pattern">
                El valor del campo es inválido</div>
            </div> -->

            
        </div>
        <ng-container *ngIf="f.all_permissions.value == '0'">
          <div class="col-1">
            <label for="name" class="label col-2 col-form-label">Permisos</label>
          </div>
          <div class="col-6">
            <!-- <nb-select selected="1">
              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
            </nb-select> -->
            <ng-select 
            [items]="permisos" 
            bindLabel="display_name" 
            [multiple]="true" 
            [closeOnSelect]="false"
            groupBy="module" 
            [searchable]="true" 
            placeholder="Seleccione un valor" 
            formControlName="permissions"
            name="permissions"
            class="appearance-outline size-medium shape-rectangle">
            </ng-select>
            <ng-container *ngIf="f.permissions.errors && (f.permissions.dirty || f.permissions.touched)">
              <p class="caption status-danger" *ngIf="f.permissions.errors?.required">La selección de permisos es requerida</p>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer> 
    <div class="row">
      <div class="col-6">
        <button 
        [routerLink]="urlBack" 
        nbButton 
        size="small"
        status="danger">
        <nb-icon icon="arrow-back-outline"></nb-icon>Regresar
        </button>
      </div>
      <div class="col-6">
        <button 
        type="submit" 
        (click)="create()" 
        *ngIf="!edit else editBlock"
        [disabled]="roleForm.invalid"
        nbButton
        size="small"
        status="success"
        class="float-right">
        <nb-icon icon="save-outline"></nb-icon>Guardar
        </button>

        <ng-template #editBlock>
          <button 
          type="submit" 
          (click)="update()"
          [disabled]="roleForm.invalid"
          nbButton
          size="small"
          status="success"
          class="float-right">
          <nb-icon icon="sync-outline"></nb-icon>Actualizar
          </button>
        </ng-template>
      </div>
    </div>
  </nb-card-footer>
</nb-card>