<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<nb-card>
  <nb-card-header>
    Detalle de usuario
  </nb-card-header>
  <nb-card-body>

    <nb-alert *ngIf="errores" status="danger">
      <ul class="alert list-unstyled" *ngIf="errores">
        <li class="text-white" *ngFor="let err of errores.name">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.password">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.email">{{ err }}</li>
        <li class="text-white" *ngFor="let err of errores.roles">{{ err }}</li>
      </ul>
    </nb-alert>

    <form *ngIf="userForm" [formGroup]="userForm">

      <div class="form-group row">
        <label for="name" class="label col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <input 
          type="text" 
          nbInput 
          fullWidth 
          placeholder="Nombre de usuario" 
          formControlName="name" 
          name="name" 
          [status]="f.name.dirty ? (f.name.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">
            <p class="caption status-danger" *ngIf="f.name.errors?.required">El usuario es requerido!</p>
            <p class="caption status-danger" *ngIf="f.name.errors.minlength || f.name.errors.maxlength"> El usuario debe contener de 2  a 64 caracteres </p>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="label col-sm-3 col-form-label">Correo electrónico</label>
        <div class="col-sm-9">
          <input 
          type="email" 
          nbInput 
          fullWidth 
          placeholder="Correo electrónico"
          formControlName="email"
          name="email"
          [status]="f.email.dirty ? (f.email.errors ? 'danger' : 'success') : ''">
          <ng-container *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
            <p class="caption status-danger" *ngIf="f.email.errors.required">El correo electrónico es requerido</p>
            <p class="caption status-danger" *ngIf="f.email.errors.email">El campo no tiene formato de correo electrónico</p>
            <p class="caption status-danger" *ngIf="f.email.errors.minlength">El mínimo de caracteres es de 2</p>
            <p class="caption status-danger" *ngIf="f.email.errors.maxlength">El máximo de caracteres es de 254</p>
          </ng-container>
        </div>
      </div>

      <hr>

      <div *ngIf="!edit" class="form-group row">
        <label for="password" class="label col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-9">
          <input 
          type="password" 
          nbInput 
          fullWidth 
          placeholder="Contraseña" 
          formControlName="password" 
          name="password" 
          [status]="f.password.dirty ? (f.password.errors  ? 'danger' : 'success') : 'basic'">
          <ng-container *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
            <p class="caption status-danger" *ngIf="f.password.errors.required">La contraseña es requerida</p>
            <p class="caption status-danger" *ngIf="f.password.errors.minlength && mensajesRequeridos?.length > 0"> {{ mensajesRequeridos[0] }}</p>
            <p class="caption status-danger" *ngIf="f.password.errors.maxlength && mensajesRequeridos?.length > 0"> {{ mensajesRequeridos[1] }}</p>
            <p class="caption status-danger" *ngIf="f.password.errors.pattern"> {{ f.password.errors.pattern.requiredPattern | mensajepatroncontrasena: formValidatorService.contrasenaValidators }}</p>
          </ng-container>
        </div>
      </div>

      <div *ngIf="!edit" class="form-group row">
        <label for="password_confirmation" class="label col-sm-3 col-form-label">Confirmación de contraseña</label>
        <div class="col-sm-9">
          <input 
          type="password" 
          nbInput 
          fullWidth 
          placeholder="Confirmación de contraseña"
          formControlName="password_confirmation"
          name="password_confirmation"
          [status]="f.password_confirmation.dirty ? (f.password_confirmation.errors ? 'danger' : 'success') : ''">
          <ng-container *ngIf="f.password_confirmation.errors && (f.password_confirmation.dirty || f.password_confirmation.touched)">
            <p class="caption status-danger" *ngIf="f.password_confirmation.errors.required">La Confirmación de contraseña es requerido</p>
            <p class="caption status-danger" *ngIf="f.password_confirmation.errors.mustmatch">Las contraseñas no coinciden</p>
          </ng-container>
        </div>
      </div>

      <hr *ngIf="!edit">

      <div class="form-group row">
        <label  *ngIf="!edit else editTitleBlock" for="roles" class="label col-sm-3 col-form-label">Roles asignados</label>
        <ng-template #editTitleBlock>
          <label  for="roles" class="label col-sm-3 col-form-label">Asignar rol</label>
        </ng-template>
        <div class="col-sm-9">
          <ng-select [items]="roles" bindLabel="name" [multiple]="true" [closeOnSelect]="false"
          [searchable]="true" placeholder="Seleccione un valor" formControlName="roles" name="roles">
          </ng-select>
          <ng-container *ngIf="f.roles.errors && (f.roles.dirty || f.roles.touched)">
            <p class="caption status-danger" *ngIf="f.roles.errors.required">La asignación de roles es requerida</p>
          </ng-container>
        </div>
      </div>

    </form>
  </nb-card-body>

  <nb-card-footer> 
    <div class="row">
      <div class="col-6">
        <button 
        [routerLink]="urlBack" 
        nbButton 
        size="small"
        status="danger">
        <nb-icon icon="arrow-back-outline"></nb-icon>Regresar
        </button>
      </div>
      <div class="col-6">
        <button 
        type="submit" 
        (click)="create()" 
        *ngIf="!edit else editBlock"
        [disabled]="userForm?.invalid"
        nbButton
        size="small"
        status="success"
        class="float-right">
        <nb-icon icon="save-outline"></nb-icon>Guardar
        </button>

        <ng-template #editBlock>
          <button 
          type="submit" 
          (click)="update()"
          [disabled]="userForm?.invalid"
          nbButton
          size="small"
          status="success"
          class="float-right">
          <nb-icon icon="sync-outline"></nb-icon>Actualizar
          </button>
        </ng-template>
      </div>
    </div>

  </nb-card-footer>
</nb-card>