<div class="row">
  <div class="col-6">
    <h4 class="m-0 text-dark">{{ titulo }}</h4>
  </div>
  <div class="col-6">
    <ol class="breadcrumb float-right">
      <li *ngFor="let bread of breadcrumbs" class="breadcrumb-item " [ngClass]="{'active': bread.active}">
        <a *ngIf="bread.url; else breadActive" [routerLink]="[bread.url]">{{ bread.display }}</a>
        <ng-template #breadActive>
          {{ bread.display }}
        </ng-template>
      </li>
    </ol>
  </div>
</div>