<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<div class="row">
  <div class="col-md-12">
    <nb-card accent="info" size="info" [nbSpinner]="loading" nbSpinnerStatus="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">
            Listado de usuarios
          </div>
          <div class="col-6">
            <ng-container *ngIf="authService.hasPermissions(['25-01-XX-02'])">
              <a routerLink="Crear" class="float-right" nbButton status="info" size="tiny"><nb-icon icon="person-add-outline"></nb-icon> Crear usuario</a>
            </ng-container>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive" *ngIf="usuarios?.length > 0">
          <table class="table table-striped table-valign-middle table-hover table-sm nb-tree-grid">
            <thead>
              <tr>
                <th (click)="tablaService.sortTable('name');filtrarTabla()">Nombre <nb-icon [icon]="tablaService.getIcon('name')"></nb-icon></th>
                <th (click)="tablaService.sortTable('email');filtrarTabla()">Email <nb-icon [icon]="tablaService.getIcon('email')"></nb-icon></th>
                <th (click)="tablaService.sortTable('active');filtrarTabla()">Estatus <nb-icon [icon]="tablaService.getIcon('active')"></nb-icon></th>
                <th>Descripción</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios; trackBy: tablaService.trackBy">
                <td>{{ usuario.name }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                  <small class="badge" [class.badge-secondary]="usuario.active == 0"
                    [class.badge-success]="usuario.active == 1">
                    {{ usuario.active | estatususer }}
                  </small>
                </td>
                <td>{{ usuario.descripcion_estatus | estatusdetalleuser: listaEstatus }}</td>
                <td nowrap>
                  <ng-container *ngIf="authService.hasPermissions(['25-01-XX-03'])">
                    <button nbButton 
                    ghost 
                    status="info" 
                    [routerLink]="['Editar', usuario.id]" 
                    nbTooltip="Editar usuario" 
                    nbTooltipStatus="primary">
                    <nb-icon icon="edit-2-outline"></nb-icon></button>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-01-XX-04'])">
                    <ng-container *ngIf="authService.usuario.id != usuario.id">
                      <a (click)="deleteUser(usuario)" 
                      nbButton 
                      ghost 
                      status="danger" 
                      nbTooltip="Eliminar usuario" 
                      nbTooltipStatus="danger" >
                      <nb-icon icon="trash-2-outline"></nb-icon>
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-01-XX-05'])">
                    <ng-container *ngIf="authService.usuario.id != usuario.id">
                      <a *ngIf="usuario.active == 0" 
                      (click)="activateUser(usuario)" 
                      nbButton 
                      ghost 
                      status="success"
                      nbTooltip="Activar usuario" 
                      nbTooltipStatus="success" >
                      <nb-icon icon="checkmark-outline"></nb-icon>
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-01-XX-06'])">
                    <ng-container *ngIf="authService.usuario.id != usuario.id">
                      <a *ngIf="usuario.active == 1" 
                      (click)="deactivateUser(usuario)" 
                      nbButton 
                      ghost 
                      status="warning"
                      nbTooltip="Desactivar usuario" 
                      nbTooltipStatus="warning">
                      <nb-icon icon="pause-circle-outline"></nb-icon>
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-01-XX-07'])">
                    <a *ngIf="usuario.roles.length > 0" 
                      (click)="showRoles(usuario)"
                      nbTooltip="Ver permisos asociados" 
                      nbTooltipStatus="success" 
                      nbButton 
                      ghost 
                      status="success">
                      <nb-icon icon="shield-outline"></nb-icon>
                    </a>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <blockquote class="quote-primary" *ngIf="usuarios?.length == 0">
          <p>No se encuentran usuarios registrados</p>
        </blockquote>
      </nb-card-body>
      <nb-card-footer>
        <paginator-nav *ngIf="pag" [paginador]="pag" [links]="links" [parametros]="parametros"></paginator-nav>
      </nb-card-footer>
    </nb-card>
  </div>
</div>


<!-- <app-estatus-usuario *ngIf="modalService.modal" [usuario]="userSelected" [tipoEstatus]="estatusSelected">
</app-estatus-usuario> -->
