<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">EPS-<span>INM</span></a>
  </div>
  <!-- select de color para el tema de fondo -->
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item" *ngIf="enableRefreshSession">
      <!-- <nb-search type="rotate-layout"></nb-search> -->
      <button 
      nbButton 
      hero 
      status="warning" 
      (click)="refreshSession()"
      onmouseenter="javascript:document.getElementById('timeDetail').style.display = ''"
      onmouseleave="javascript:document.getElementById('timeDetail').style.display = 'none'">Extender sesión<span id="timeDetail"
      style="display: none">: expira en {{ diff }}
      segundos</span>
    </button>
    </nb-action>
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
    <nb-action class="control-item" *ngIf="fechaSistema">{{ fechaSistema2 }}</nb-action>

    <!-- <nb-action class="control-item" icon="bell-outline"></nb-action> -->
    <nb-action class="user-action">
      <!-- <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.avatar">
      </nb-user> -->
      <nb-user [nbContextMenu]="userMenu"
        size="large"
        [onlyPicture]="userPictureOnly"
        [name]="user?.name"
        >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
