<app-content-header [titulo]="titulo" [breadcrumbs]="breadcrumbs"></app-content-header>

<div class="row">
  <div class="col-md-12">
    <nb-card accent="info" size="info" [nbSpinner]="loading" nbSpinnerStatus="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">
            Listado de usuarios
          </div>
          <div class="col-6">
            <ng-container *ngIf="authService.hasPermissions(['25-03-XX-02'])">
              <a routerLink="Crear" class="float-right" nbButton status="info" size="tiny"><nb-icon icon="plus-outline"></nb-icon> Añadir nueva configuración</a>
            </ng-container>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive" *ngIf="configContrasenas?.length > 0">
          <table class="table table-striped table-valign-middle table-hover table-sm nb-tree-grid">
            <thead>
              <tr>
                <th (click)="tablaService.sortTable('cod_requirement');filtrarTabla()">Código <nb-icon [icon]="tablaService.getIcon('cod_requirement')"></nb-icon></th>
                <th (click)="tablaService.sortTable('name');filtrarTabla()">Nombre <nb-icon [icon]="tablaService.getIcon('name')"></nb-icon></th>
                <th (click)="tablaService.sortTable('value');filtrarTabla()">Valor <nb-icon [icon]="tablaService.getIcon('value')"></nb-icon></th>
                <th (click)="tablaService.sortTable('description');filtrarTabla()">Descripción <nb-icon [icon]="tablaService.getIcon('description')"></nb-icon></th>
                <th (click)="tablaService.sortTable('status');filtrarTabla()">Estatus <nb-icon [icon]="tablaService.getIcon('status')"></nb-icon></th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let config of configContrasenas; trackBy: tablaService.trackBy">
                <td>{{ config.cod_requirement }}</td>
                <td>{{ config.name }}</td>
                <td>{{ config.value }}</td>
                <td>{{ config.description }}</td>
                <td>
                  <small class="badge" [class.badge-secondary]="config.status == 0"
                    [class.badge-success]="config.status == 1">
                    {{ config.status | estatusconfigcontrasena }}
                  </small>
                </td>
                <td nowrap>
                  <ng-container *ngIf="authService.hasPermissions(['25-03-XX-03'])">
                    <button nbButton 
                    ghost 
                    status="info" 
                    [routerLink]="['Editar', config.id]" 
                    nbTooltip="Editar configuración de contraseña" 
                    nbTooltipStatus="info">
                    <nb-icon icon="edit-2-outline"></nb-icon></button>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-03-XX-04'])">
                    <a *ngIf="config.regex == 1" (click)="deleteConfigContrasena(config)" 
                    nbButton 
                    ghost 
                    status="danger" 
                    nbTooltip="Eliminar configuración de contraseña" 
                    nbTooltipStatus="danger">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-03-XX-05'])">
                    <a *ngIf="config.status == 0 && config.regex == 1"
                    (click)="activateConfigContrasena(config)" 
                    nbButton 
                    ghost 
                    status="success"
                    nbTooltip="Activar configuración de contraseña" 
                    nbTooltipStatus="success" >
                    <nb-icon icon="checkmark-outline"></nb-icon>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="authService.hasPermissions(['25-03-XX-06'])">
                    <a *ngIf="config.status == 1 && config.regex == 1"
                    (click)="deactivateConfigContrasena(config)" 
                    nbButton 
                    ghost 
                    status="warning"
                    nbTooltip="Desactivar rol" 
                    nbTooltipStatus="warning">
                    <nb-icon icon="pause-circle-outline"></nb-icon>
                    </a>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <blockquote class="quote-primary" *ngIf="configContrasenas?.length == 0">
          <p>No se encuentran configuración de contraseñas</p>
        </blockquote>
      </nb-card-body>
      <nb-card-footer>
        <paginator-nav *ngIf="pag" [paginador]="pag" [links]="links" [parametros]="parametros"></paginator-nav>
      </nb-card-footer>
    </nb-card>
  </div>
</div>