<nb-layout center>

  <nb-layout-column>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
    
          <div class="login100-form-title" style="background-image: url(/assets/images/bg-01-login.jpg);">
            <span class="login100-form-title-1"> {{ titulo }} </span>
          </div>
          <div class="row">
              <div class="col-md-12">
                <nb-card>
    
                  <nb-card-body>
                    <form class="form-horizontal" (ngSubmit)="login()" #form="ngForm" [formGroup]="loginForm" aria-labelledby="title">
    
                      <div class="form-group row">
                        <label for="inputEmail3" class="label col-sm-3 form-control-label">Usuario</label>
                        <div class="col-sm-9">
                          <input nbInput
                          fullWidth
                          formControlName="email"
                          name="email"
                          pattern=".+@.+\..+"
                          placeholder="Usuario"
                          fieldSize="large"
                          autofocus
                          [status]="lf.email.dirty ? (lf.email.invalid  ? 'danger' : 'success') : 'basic'"
                          [attr.aria-invalid]="lf.email.invalid && lf.email.touched ? true : null">
                          <ng-container *ngIf="lf.email.invalid && lf.email.touched">
                            <p class="caption status-danger" *ngIf="lf.email.errors?.required">
                              El usuario es requerido!
                            </p>
                            <p class="caption status-danger" *ngIf="lf.email.errors?.pattern">
                              El usuario tiene que ser valido!
                            </p>
                          </ng-container>
    
                        </div>
                      </div>
                      <br>
                      <div class="form-group row">
                        <label for="inputPassword3" class="label col-sm-3 form-control-label">Password</label>
                        <div class="col-sm-9">
                            <input nbInput
                            fullWidth
                            formControlName="password"
                            name="password"
                            type="password"
                            id="input-password"
                            placeholder="Contraseña"
                            fieldSize="large"
                            [status]="lf.password.dirty ? (lf.password.invalid  ? 'danger' : 'success') : 'basic'"
                            [required]="true"
                            [minlength]="4"
                            [attr.aria-invalid]="lf.password.invalid && lf.password.touched ? true : null">
                            <ng-container *ngIf="lf.password.invalid && lf.password.touched ">
                              <p class="caption status-danger" *ngIf="lf.password.errors?.required">
                                Contraseña es requerida!
                              </p>
                              <p class="caption status-danger" *ngIf="lf.password.errors?.minlength || lf.password.errors?.maxlength">
                                La contraseña debe contener de 8 a 254 caracteres
                              </p>
                            </ng-container>
                        </div>
                      </div>
                      
                      <br><div style="border: 1px #edf1f7"></div><br>
    
                      <button nbButton
                      fullWidth
                      status="primary"
                      size="large"
                      [nbSpinner]="submitted" nbSpinnerStatus="info"
                      [disabled]="submitted || !form.valid"
                      [class.btn-pulse]="submitted"
                      >
                        Iniciar sesión
                      </button>
    
                    </form>
                  </nb-card-body>
                  
                </nb-card>
              </div>
            </div>
        </div>
      </div>
    </div>
  </nb-layout-column>

</nb-layout>

