// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
// @import '~@nebular/theme/styles/themes';
@import '~@nebular/theme/styles/themes/default';

/** estilos para el th de las tablas */
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.03);
}
.table thead tr {
  background-color: #DAE1FF;
}
/** padding para botones de las acciones */
.nb-theme-default [nbButton].appearance-ghost.size-medium {
  padding: 0.20rem 0.3rem !important;
}

.float-right{
  float: right !important;
}
.float-left{
  float: left !important;
}

$nb-themes: nb-register-theme((
  nb-layout-column: 1.25rem 1.25rem 0.75rem,
  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  color-primary-100: #D1E1FD,
  color-primary-200: #A4C1FB,
  color-primary-300: #759CF5,
  color-primary-400: #517CEB,
  color-primary-500: #1D4EDF,
  color-primary-600: #153BBF,
  color-primary-700: #0E2BA0,
  color-primary-800: #091E81,
  color-primary-900: #05146B,
  color-primary-transparent-100: rgba(29, 78, 223, 0.08),
  color-primary-transparent-200: rgba(29, 78, 223, 0.16),
  color-primary-transparent-300: rgba(29, 78, 223, 0.24),
  color-primary-transparent-400: rgba(29, 78, 223, 0.32),
  color-primary-transparent-500: rgba(29, 78, 223, 0.4),
  color-primary-transparent-600: rgba(29, 78, 223, 0.48),
  color-success-100: #DAFAD4,
  color-success-200: #AFF6AB,
  color-success-300: #7CE480,
  color-success-400: #56CA66,
  color-success-500: #28a745,
  color-success-600: #1D8F42,
  color-success-700: #14783E,
  color-success-800: #0C6038,
  color-success-900: #075034,
  color-success-transparent-100: rgba(40, 167, 69, 0.08),
  color-success-transparent-200: rgba(40, 167, 69, 0.16),
  color-success-transparent-300: rgba(40, 167, 69, 0.24),
  color-success-transparent-400: rgba(40, 167, 69, 0.32),
  color-success-transparent-500: rgba(40, 167, 69, 0.4),
  color-success-transparent-600: rgba(40, 167, 69, 0.48),
  color-info-100: #DAE1FF,
  color-info-200: #B6C3FF,
  color-info-300: #91A3FF,
  color-info-400: #768BFF,
  color-info-500: #4962FF,
  color-info-600: #3549DB,
  color-info-700: #2434B7,
  color-info-800: #172393,
  color-info-900: #0E167A,
  color-info-transparent-100: rgba(73, 98, 255, 0.08),
  color-info-transparent-200: rgba(73, 98, 255, 0.16),
  color-info-transparent-300: rgba(73, 98, 255, 0.24),
  color-info-transparent-400: rgba(73, 98, 255, 0.32),
  color-info-transparent-500: rgba(73, 98, 255, 0.4),
  color-info-transparent-600: rgba(73, 98, 255, 0.48),
  color-warning-100: #FFF5CC,
  color-warning-200: #FFE899,
  color-warning-300: #FFD866,
  color-warning-400: #FFC83F,
  color-warning-500: #FFAE00,
  color-warning-600: #DB8E00,
  color-warning-700: #B77100,
  color-warning-800: #935600,
  color-warning-900: #7A4300,
  color-warning-transparent-100: rgba(255, 174, 0, 0.08),
  color-warning-transparent-200: rgba(255, 174, 0, 0.16),
  color-warning-transparent-300: rgba(255, 174, 0, 0.24),
  color-warning-transparent-400: rgba(255, 174, 0, 0.32),
  color-warning-transparent-500: rgba(255, 174, 0, 0.4),
  color-warning-transparent-600: rgba(255, 174, 0, 0.48),
  color-danger-100: #FFE5D3,
  color-danger-200: #FFC3A6,
  color-danger-300: #FF9B7A,
  color-danger-400: #FF7559,
  color-danger-500: #FF3523,
  color-danger-600: #DB1919,
  color-danger-700: #B7111F,
  color-danger-800: #930B21,
  color-danger-900: #7A0623,
  color-danger-transparent-100: rgba(255, 53, 35, 0.08),
  color-danger-transparent-200: rgba(255, 53, 35, 0.16),
  color-danger-transparent-300: rgba(255, 53, 35, 0.24),
  color-danger-transparent-400: rgba(255, 53, 35, 0.32),
  color-danger-transparent-500: rgba(255, 53, 35, 0.4),
  color-danger-transparent-600: rgba(255, 53, 35, 0.48)
), default, default);
